.container {
  display: flex;
  max-width: 650px;

  & > div:first-child {
    width: 66px;
    flex-shrink: 0;
    padding-right: 22px;
    color: #6e7681;
    font-variant-numeric: tabular-nums;
    text-align: right;
    user-select: none;

    @media (width <= 425px) {
      width: 0;
    }
  }

  &:hover {
    & > div {
      color: #ccc;
    }
  }

  & div[data-tab] {
    position: relative;
    height: 100%;

    &::before {
      position: absolute;
      left: 0;
      height: 100%;
      border-left: 1px solid rgb(255 255 255 / 40%);
      color: rgb(255 255 255 / 9%);
      content: "";
    }
  }

  & div[data-tab="1"] {
    padding-left: 18px;

    &::before {
      content: "··";
    }
  }
}
