.container {
  height: 100%;
  flex: 0 0 220px;
  border-right: 1px solid #2a2a2a;
  background-color: #181818;
  font-size: 11px;

  @media (width <= 768px) {
    position: absolute;
    z-index: 1;
    left: 49px;
    width: 220px;
    transform: translateX(-300px);
    transition: transform ease-in-out 200ms;

    &_visible {
      transform: translateX(0);
    }
  }
}

.headline {
  padding-left: 20px;
  line-height: 35px;
  text-transform: uppercase;
}

.title {
  display: flex;
  align-items: center;
  font-weight: bold;
  line-height: 22px;
  text-transform: uppercase;

  :global(.icon) {
    margin: 0 4px 0 5px;
  }
}

.navigation {
  & > a {
    display: flex;
    align-items: center;
    padding-left: 18px;
    color: #ccc;
    cursor: pointer;
    font-size: 13px;
    gap: 6px;
    line-height: 22px;
    text-decoration: none;
  }

  & > a.active {
    background-color: #37373d;
  }

  & > a:hover:not(.active) {
    background-color: #2a2d2e;
  }
}
