.container {
  display: flex;
  overflow: auto;
  width: 100%;
  flex-direction: column;
  padding-top: 22px;
  padding-left: 66px;
  background-color: #fff;
  color: #1f1f1f;
  font-size: 12px;
  font-weight: 400;

  @media (width < 1024px) {
    padding-left: 22px;
  }

  &_dark {
    background-color: #1f1f1f;
    color: #ccc;

    & :global(.tc-tooltip) {
      border: 1px solid #56626d;
      background-color: #1f1f1f;
    }

    & :global(.tc-control) {
      border: 1px solid #56626d;
    }
  }

  & h2 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }

  & p {
    margin-bottom: 30px;
    font-size: 14px;
  }

  & footer {
    display: flex;
    width: 500px;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 12px;
  }

  & a {
    color: #3c9ede;
  }

  :global(.tc-range) {
    width: 170px;

    & > div {
      width: 78px;
    }
  }
}

.switch {
  color: #3c9ede;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.chart {
  width: 500px;
  margin-bottom: 40px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__header h3 {
    font-size: 16px;
    font-weight: bold;
  }
}

.hint {
  color: gray;
  font-size: 10px;
}
